
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

.login-header, .login-box {
  float:none!important; 
  margin-left:auto!important; 
  margin-right:auto!important; 
  text-align:center;
  
}

.login-header {
	height:120px;
	padding-top:30px;
	color:#317eac;
}

.alert-info {
    background-color: #EDEBE1;
    border-color: #E0D9CB;
    color: #817B58;
}

.formItem {
  margin-bottom:10px;
  overflow:hidden;
}

.navbar-inner {
	border-radius:0;
	background-image:url("../images/header-bk.jpg");
	filter:none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar .logo{
	color: #ffffff;
	font-size:24px;
	font-family: 'Sigmar One', cursive, Arial, serif;
	letter-spacing:2px;
	padding:8px 0 12px;
	display:block;
}

.sidebar-nav {
	padding:0;
	padding-bottom:20px;
}