<p>
<span style="margin-right:20px;"><button type="button" class="btn" style="width:70px" ng-click="send()">Send</button></span>
<span style="margin-right:20px;"><button type="button" class="btn" style="width:70px" ng-click="save()">Save</button></span>
<span style="margin-right:20px;"><button type="button" class="btn" style="width:70px" ng-click="discard()">Discard</button></span>
</p>

<hr style="width:800px"/>
<p>
<h4 style="display:inline">To: </h4>
<input type="text" class="span3" style="margin-bottom:0">
</p>


<textarea id="editContent" style="width:800px;height:400px;"></textarea>
