
<div style="border-bottom:1px solid #eeeeee; margin-bottom:5px">
  <select id="messageType" ng-model="type" ng-change="reloadMessage()">
    <option value="1">Assigned messages</option>
    <option value="0">Un-assigned messages</option>
  </select>
  <button id="newMessageBtn" class="btn" type="button" style="float:right" ng-click="newMessage()">+</button>
</div>

<!--  unassigned message list-->
<div id="pane1" style="display:none" >
	<table class="table">
	  <colgroup>
		<col width="60%">
		<col width="25%">
		<col width="15%">
	  </colgroup>
	  <thead>
		<tr>
		  <th>Title</th>
		  <th>Date</th>
		  <th>Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="d in data" id="row_{{d.id}}">
		  <td><div>{{d.title}}</div></td>
		  <td><div>{{d.create_date}}</div></td>
		  <td><a >Edit</a> | <a href="" ng-click="deleteMsg(d.id)">Delete</a></td>
		</tr>
	  </tbody>
	</table>
</div>

<!--  assigned message list-->
<div id="pane2" >
	<div class="collapsible" ng-repeat="d in cdata" >
		<div class="collapsibleHeader" >
			<i name="icon" class="icon-plus"  ng-click="toggle($event,d)"></i>
			<span style="padding-left:10px">{{d.rel}}</span>
		</div>
		<div class="collapsibleContent"></div>
	</div>
	

</div>



