<p>
<button type="button" class="btn buttonGroup" ng-click="send()" style="display:none;">Send</button>
<button type="button" class="btn buttonGroup" ng-click="save()">Save</button>
<button type="button" class="btn buttonGroup" ng-click="discard()">Discard</button>
</p>

<hr style="width:800px"/>

<div class="errorMsg" id="errorMsg"></div>

<div style="position:relative">
	<div style="display:inline-block; width:60px; vertical-align:top">
		<button class="btn btn-link" style="padding-left:0" ng-click="showContacts($event)">To: </button>
	</div>
	<div id="contactsDiv" class="borderedContainer" ng-click="showContacts($event)"
	     style="display:inline-block; width:300px; min-height:22px">
	</div>
	<div id="contactListPop" class="msg_contact_pop"
		     style="top:32px; left:64px;  max-height:150px; width:315px; overflow:auto">
				<ul id="contactListContent" style="margin-left:0; padding:2px 10px; list-style:none" >
					<li ng-repeat="c in contactsData" ng-click="clickOnContact($event)" 
					    ng-mouseover="mouseoverContact($event)" ng-mouseout="mouseoutContact($event)">
						<div style='margin:0 -10px; padding:0 10px;'>
							<table>
								<tr>
									<td><i class="icon-user" style="margin:0 10px"></i>
									    <span class="hiddenText">{{c.id}}</span></td>
									<td><div class="cname">{{c.firstname+" "+c.lastname}}</div>
									<div class="cmail">{{c.email}}</div>
									</td>
								</tr>
							</table>
						</div>
					</li>
				</ul>
	</div>
</div>

<p>
<div style="display:inline-block; width:60px;">Subject: </div>
<input id="title" type="text"  style="margin-bottom:0; width:300px;">
</p>

<div class="msgEditFormDiv" >
	<input type="radio" name="typeMsg" value="1"/> Text Message
	<input type="radio" name="typeMsg" value="2"/> Audio Message
	<input type="radio" name="typeMsg" value="3"/> Video Message
</div>

<div id="textDiv" >
	<textarea id="editContent" style="width:800px;height:200px;"></textarea>
</div>

<div id="audioDiv" class="msgEditFormDiv"  >
	<div style="color:#0088CC; margin-bottom:10px; padding-left:5px;">Allowed file format: mp3</div>
	<form name="audioForm" method="post" enctype="multipart/form-data" >
		<uploader action="uploader.php"></uploader>
		<input name="mediaType" value="2"  type="hidden" />
		<input name="mediaURL" value=""  type="hidden" />
	</form>
</div>

<div id="videoDiv" class="msgEditFormDiv" >
	<div style="color:#0088CC; margin-bottom:10px; padding-left:5px;">Allowed file format: mp4</div>
	<form name="videoForm" method="post" enctype="multipart/form-data" >
		<uploader action="uploader.php"></uploader>
		<input name="mediaType" value="3"  type="hidden" />
		<input name="mediaURL" value=""  type="hidden" />
	</form>
</div>