<p>
<button type="button" class="btn buttonGroup" ng-click="send()">Send</button>
<button type="button" class="btn buttonGroup" ng-click="save()">Save</button>
<button type="button" class="btn buttonGroup" ng-click="discard()">Discard</button>
</p>

<hr style="width:800px"/>
<p>
<div style="display:inline-block; width:60px;">To: </div>
<input type="text"  style="margin-bottom:0;">
</p>
<p>
<div style="display:inline-block; width:60px;">Subject: </div>
<input type="text"  style="margin-bottom:0">
</p>


<textarea id="editContent" style="width:800px;height:400px;"></textarea>
