
<div style="border-bottom:1px solid #eeeeee">
  <select id="messageType" ng-model="type" ng-change="reloadMessage()">
    <option value="1">Sent</option>
    <option value="2">Pending</option>
    <option value="3">Draft</option>
  </select>
  <button id="newMessageBtn" class="btn" type="button" style="float:right" ng-click="newMessage()">+</button>
</div>



<table class="table">
  <colgroup>
    <col width="60%">
    <col width="25%">
    <col width="15%">
  </colgroup>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="d in data" id="row_{{d.id}}">
      <td><div>{{d.title}}</div></td>
      <td><div>{{d.create_date}}</div></td>
      <td><a>edit</a></td>
    </tr>
  </tbody>
</table>